@media all {
    .mainNav{
        height: 93px;
        background-color: #4E4A4A;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .button-bar{
       
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        padding: 20px;
    }

    .button-box{
        display: inline-flex;
        padding-inline-start: 5px;
    }

    .time{
        display: inline-flex;
        position: absolute;
        top: 28px;
        right: 20px;
        color: white
    }
}