.item {
     padding-left:4em ;
     text-align: left;
     margin-bottom: 5px;
     width: 100%;
     border: 2px solid grey;
     border-radius: 8px;
     background-color: lightblue;
     height: 100px;
   }