.Entry {
    padding-left: 1em;
    text-align: left;
    margin-bottom: 5px;
    width: 100%;
    border: 2px solid black;
    border-radius: 8px;
    background-color: whitesmoke;   
  }
  
  hr{
    padding: 1px;
    margin: 0px;    
  }
  
  .bttn {
    margin-left: 27px;
    padding: 3px 0px;
    margin-top: 6px;
    font-size: 1.4vw;
  }

  .detail {
    margin-left: 0px;
  }
  
  .Name {
    margin-top: 0px;
  }

  .name {
    word-wrap: normal;
    white-space: normal;
  }
  
  .Date {
    margin-top: 0px;
    margin-right: 15px;
  }
  
  .Flag {
    background-color: red;
    border: 1px solid black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .Time {
    margin-top: 0px;
  }
  
  img {
    width: 3vw;
    height: 3vw;
    margin-bottom: 3px;
  }

  .editBttn {
    width: auto;
    height: auto;  
    margin-left: 8vw;
    padding: 3px 7px;
    margin-top: 7px;
    font-size: 1.2vw;
  }
  
  .applyBttns{
    margin-left: 127px;
  }

  .pull-right {
    font-size: 3vw;
  }