.item {
  padding-left: 1em;
  text-align: left;
  margin-bottom: 5px;
  width: 100%;
  border: 2px solid black;
  border-radius: 8px;
  background-color: whitesmoke;
  
}

hr{
  padding: 1px;
  margin: 0px;    
}

.detailButton {
  width: 100%;
  height: auto;
  padding: 3px 0px;
  margin-top: 7px;
  margin-left: 10px;
  font-size: 1vw;
}
.FlagCol {
  margin-top: 10px;
}
.NameCol {
  margin-top: 10px;
}

.nameCol {
  word-wrap: normal;
  white-space: normal;
}

.Flags {

  background-color: red;
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.DateCol {
  margin-top: 10px;
  margin-right: 10px;
}

.TimeCol {
  margin-top: 10px;
}

img {
  width: 50%;
  height: auto;
  max-width: 50px;
  max-block-size: 50px;
}

.editButton {
  width: 100%;
  height: auto;
  padding: 3px 0px;
  margin-top: 7px;
  margin-left: 10px;
  font-size: 1vw;
}

.applyButtons{
  margin-left: 130px;
}

