.pdfBttns {
    margin-right: auto;
    margin-left: auto;
}

.FlagBttn {
    border: 2px solid black;
}

.noFlagBttn {
    border: 2px solid black;
}

li {
    color: black;
    text-align: left;
}

ol li {
    background: white;
    margin: 5px;
}