
.headerbar{
    background-color: #4E4A4A;
    height: 93px;
    text-align: right; 
    display: inline-block;
    padding-left: 15; 
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    
}

.logo{
    align-self: left;
    margin-bottom: 10px;
}

.profile_info{
    align-self: right;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 25px;
    position: absolute;
    top: 0%;
    right:0%;
    color: #F8F9FA;
}